body,
html {
  background-color: #16212b;
  height: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
}

.signin-form {
  width: 100%;
}

.signin-form .error {
  color: #e0245e;
}

.signin-form .form-label-group {
  position: relative;
  margin-bottom: 2rem;
}

.signin-form .form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #8899a6;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  padding-left: 10px !important;
}

.signin-form .form-label-group input {
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 0px;
  border: 0px;
  color: white;
  font-size: 19px;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid grey;
  background-color: #192734;
}

.signin-form .form-label-group input:focus {
  border-bottom: 2px solid #20a1f1;
  box-shadow: none;
}

.signin-form .form-label-group input:focus + label {
  color: #20a1f1;
}

.signin-form .btn-signin {
  color: white;
  background-color: #20a1f1 !important;
}
